*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:linear-gradient(
135deg,
#0f172a,
#020617
);

overflow:hidden;
font-family:Arial,Helvetica,sans-serif;
color:white;

}

canvas{

position:fixed;
top:0;
left:0;

}

.ui{

position:absolute;
top:40%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;

}

h1{

font-size:48px;
letter-spacing:3px;
margin-bottom:10px;

background:linear-gradient(
90deg,
#00eaff,
#00ffa6
);

-webkit-background-clip:text;
color:transparent;

}

p{

opacity:0.6;
font-size:16px;

}